<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddVoteServlet</servlet-name>
        <servlet-class>servlets.AddVoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewVoteServlet</servlet-name>
        <servlet-class>servlets.AddNewVoteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AV2servlet</servlet-name>
        <servlet-class>servlets.AV2servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ANV2servlet</servlet-name>
        <servlet-class>servlets.ANV2servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>indexServlet</servlet-name>
        <servlet-class>servlets.indexServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVoteServlet</servlet-name>
        <url-pattern>/AddVoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewVoteServlet</servlet-name>
        <url-pattern>/AddNewVoteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AV2servlet</servlet-name>
        <url-pattern>/AV2servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ANV2servlet</servlet-name>
        <url-pattern>/ANV2servlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>StartPageServlet</servlet-name>
        <servlet-class>servlets.StartPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexServlet</servlet-name>
        <url-pattern>/indexServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>jdbc/HW2DB</res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
